spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3305/TripagramEx
    username: hipo
    password: 123456
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
  sql:
    init:
      data-locations: classpath:static/db/data.sql
      mode: always

jwt:
  secret-key: 28d93268-a80b-4594-918b-5926a79a49ed
  expiration: 36000000
  prefix: Bearer
  header: Authorization

decorator:
  datasource:
    p6spy:
      enable-logging: true

logTracer: false

dir : /Users/hipo/Desktop/project/toy_project/tripagramEx/tripagramEx/image/

mod : local